form{
    background-color: rgba(255,255,255,0.2);
    width: 40rem;
    border: 0.2rem solid white ;
   
    border-radius: 2rem;
    -webkit-border-radius: 2rem;
    -moz-border-radius: 2rem;
    -ms-border-radius: 2rem;
    -o-border-radius: 2rem;
    color: white;
   
    margin-top: 4rem;
    margin-bottom: 4rem;
   
   
  }